LabelGenerator/Config/LabelFile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="printout">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="form-name"/>
        <xs:element type="xs:string" name="form-language"/>
        <xs:element type="xs:byte" name="form-format"/>
        <xs:element type="xs:string" name="subject"/>
        <xs:element name="section-01">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="form-date"/>
              <xs:element type="xs:string" name="bib-info"/>
              <xs:element type="xs:int" name="z13-doc-number"/>
              <xs:element type="xs:short" name="z13-year"/>
              <xs:element type="xs:string" name="z13-open-date"/>
              <xs:element type="xs:string" name="z13-update-date"/>
              <xs:element type="xs:string" name="z13-call-no-key"/>
              <xs:element type="xs:byte" name="z13-call-no-code"/>
              <xs:element type="xs:string" name="z13-call-no"/>
              <xs:element type="xs:short" name="z13-author-code"/>
              <xs:element type="xs:string" name="z13-author"/>
              <xs:element type="xs:short" name="z13-title-code"/>
              <xs:element type="xs:string" name="z13-title"/>
              <xs:element type="xs:short" name="z13-imprint-code"/>
              <xs:element type="xs:string" name="z13-imprint"/>
              <xs:element type="xs:byte" name="z13-isbn-issn-code"/>
              <xs:element type="xs:int" name="z13-isbn-issn"/>
              <xs:element type="xs:long" name="z13-upd-time-stamp"/>
              <xs:element type="xs:int" name="z13u-doc-number"/>
              <xs:element type="xs:string" name="z13u-user-defined-1-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-1"/>
              <xs:element type="xs:string" name="z13u-user-defined-2-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-2"/>
              <xs:element type="xs:string" name="z13u-user-defined-3-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-3"/>
              <xs:element type="xs:string" name="z13u-user-defined-4-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-4"/>
              <xs:element type="xs:string" name="z13u-user-defined-5-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-5"/>
              <xs:element type="xs:string" name="z13u-user-defined-6-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-6"/>
              <xs:element type="xs:string" name="z13u-user-defined-7-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-7"/>
              <xs:element type="xs:string" name="z13u-user-defined-8-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-8"/>
              <xs:element type="xs:string" name="z13u-user-defined-9-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-9"/>
              <xs:element type="xs:string" name="z13u-user-defined-10-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-10"/>
              <xs:element type="xs:string" name="z13u-user-defined-11-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-11"/>
              <xs:element type="xs:string" name="z13u-user-defined-12-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-12"/>
              <xs:element type="xs:string" name="z13u-user-defined-13-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-13"/>
              <xs:element type="xs:string" name="z13u-user-defined-14-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-14"/>
              <xs:element type="xs:string" name="z13u-user-defined-15-code"/>
              <xs:element type="xs:string" name="z13u-user-defined-15"/>
              <xs:element type="xs:int" name="z30-doc-number"/>
              <xs:element type="xs:float" name="z30-item-sequence"/>
              <xs:element type="xs:int" name="z30-barcode"/>
              <xs:element type="xs:string" name="z30-sub-library"/>
              <xs:element type="xs:string" name="z30-material"/>
              <xs:element type="xs:string" name="z30-item-status"/>
              <xs:element type="xs:string" name="z30-open-date"/>
              <xs:element type="xs:string" name="z30-update-date"/>
              <xs:element type="xs:string" name="z30-cataloger"/>
              <xs:element type="xs:string" name="z30-date-last-return"/>
              <xs:element type="xs:string" name="z30-hour-last-return"/>
              <xs:element type="xs:string" name="z30-ip-last-return"/>
              <xs:element type="xs:byte" name="z30-no-loans"/>
              <xs:element type="xs:string" name="z30-alpha"/>
              <xs:element type="xs:string" name="z30-collection"/>
              <xs:element type="xs:byte" name="z30-call-no-type"/>
              <xs:element type="xs:string" name="z30-call-no"/>
              <xs:element type="xs:string" name="z30-call-no-key"/>
              <xs:element type="xs:byte" name="z30-call-no-2-type"/>
              <xs:element type="xs:string" name="z30-call-no-2"/>
              <xs:element type="xs:string" name="z30-call-no-2-key"/>
              <xs:element type="xs:string" name="z30-description"/>
              <xs:element type="xs:string" name="z30-note-opac"/>
              <xs:element type="xs:string" name="z30-note-circulation"/>
              <xs:element type="xs:string" name="z30-note-internal"/>
              <xs:element type="xs:string" name="z30-order-number"/>
              <xs:element type="xs:string" name="z30-inventory-number"/>
              <xs:element type="xs:string" name="z30-inventory-number-date"/>
              <xs:element type="xs:byte" name="z30-last-shelf-report-date"/>
              <xs:element type="xs:string" name="z30-price"/>
              <xs:element type="xs:int" name="z30-shelf-report-number"/>
              <xs:element type="xs:byte" name="z30-on-shelf-date"/>
              <xs:element type="xs:byte" name="z30-on-shelf-seq"/>
              <xs:element type="xs:byte" name="z30-doc-number-2"/>
              <xs:element type="xs:byte" name="z30-schedule-sequence-2"/>
              <xs:element type="xs:byte" name="z30-copy-sequence-2"/>
              <xs:element type="xs:string" name="z30-vendor-code"/>
              <xs:element type="xs:string" name="z30-invoice-number"/>
              <xs:element type="xs:byte" name="z30-line-number"/>
              <xs:element type="xs:string" name="z30-pages"/>
              <xs:element type="xs:string" name="z30-issue-date"/>
              <xs:element type="xs:string" name="z30-expected-arrival-date"/>
              <xs:element type="xs:string" name="z30-arrival-date"/>
              <xs:element type="xs:string" name="z30-item-statistic"/>
              <xs:element type="xs:string" name="z30-item-process-status"/>
              <xs:element type="xs:string" name="z30-copy-id"/>
              <xs:element type="xs:byte" name="z30-hol-doc-number"/>
              <xs:element type="xs:string" name="z30-temp-location"/>
              <xs:element type="xs:string" name="z30-enumeration-a"/>
              <xs:element type="xs:string" name="z30-enumeration-b"/>
              <xs:element type="xs:string" name="z30-enumeration-c"/>
              <xs:element type="xs:string" name="z30-enumeration-d"/>
              <xs:element type="xs:string" name="z30-enumeration-e"/>
              <xs:element type="xs:string" name="z30-enumeration-f"/>
              <xs:element type="xs:string" name="z30-enumeration-g"/>
              <xs:element type="xs:string" name="z30-enumeration-h"/>
              <xs:element type="xs:string" name="z30-chronological-i"/>
              <xs:element type="xs:string" name="z30-chronological-j"/>
              <xs:element type="xs:string" name="z30-chronological-k"/>
              <xs:element type="xs:string" name="z30-chronological-l"/>
              <xs:element type="xs:string" name="z30-chronological-m"/>
              <xs:element type="xs:string" name="z30-supp-index-o"/>
              <xs:element type="xs:string" name="z30-85x-type"/>
              <xs:element type="xs:string" name="z30-depository-id"/>
              <xs:element type="xs:byte" name="z30-linking-number"/>
              <xs:element type="xs:string" name="z30-gap-indicator"/>
              <xs:element type="xs:byte" name="z30-maintenance-count"/>
              <xs:element type="xs:string" name="z30-process-status-date"/>
              <xs:element type="xs:long" name="z30-upd-time-stamp"/>
              <xs:element type="xs:string" name="z30-ip-last-return-v6"/>
              <xs:element type="xs:string" name="tab-label-01"/>
              <xs:element type="xs:string" name="tab-label-02"/>
              <xs:element type="xs:string" name="tab-label-03"/>
              <xs:element type="xs:string" name="tab-label-04"/>
              <xs:element type="xs:string" name="tab-label-05"/>
              <xs:element type="xs:string" name="tab-label-06"/>
              <xs:element type="xs:string" name="tab-label-07"/>
              <xs:element type="xs:string" name="tab-label-08"/>
              <xs:element type="xs:string" name="tab-label-09"/>
              <xs:element type="xs:string" name="tab-label-10"/>
              <xs:element type="xs:string" name="call-no-piece-01"/>
              <xs:element type="xs:float" name="call-no-piece-02"/>
              <xs:element type="xs:string" name="call-no-piece-03"/>
              <xs:element type="xs:string" name="call-no-piece-04"/>
              <xs:element type="xs:string" name="call-no-piece-05"/>
              <xs:element type="xs:string" name="call-no-piece-06"/>
              <xs:element type="xs:string" name="call-no-piece-07"/>
              <xs:element type="xs:string" name="call-no-piece-08"/>
              <xs:element type="xs:string" name="call-no-piece-09"/>
              <xs:element type="xs:string" name="call-no-piece-10"/>
              <xs:element type="xs:string" name="call-no-piece-2-01"/>
              <xs:element type="xs:float" name="call-no-piece-2-02"/>
              <xs:element type="xs:string" name="call-no-piece-2-03"/>
              <xs:element type="xs:string" name="call-no-piece-2-04"/>
              <xs:element type="xs:string" name="call-no-piece-2-05"/>
              <xs:element type="xs:string" name="call-no-piece-2-06"/>
              <xs:element type="xs:string" name="call-no-piece-2-07"/>
              <xs:element type="xs:string" name="call-no-piece-2-08"/>
              <xs:element type="xs:string" name="call-no-piece-2-09"/>
              <xs:element type="xs:string" name="call-no-piece-2-10"/>
              <xs:element type="xs:string" name="item-desc-piece-01"/>
              <xs:element type="xs:string" name="item-desc-piece-02"/>
              <xs:element type="xs:string" name="item-desc-piece-03"/>
              <xs:element type="xs:string" name="item-desc-piece-04"/>
              <xs:element type="xs:string" name="item-desc-piece-05"/>
              <xs:element type="xs:string" name="item-desc-piece-06"/>
              <xs:element type="xs:string" name="item-desc-piece-07"/>
              <xs:element type="xs:string" name="item-desc-piece-08"/>
              <xs:element type="xs:string" name="item-desc-piece-09"/>
              <xs:element type="xs:string" name="item-desc-piece-10"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>